a:link {
    text-decoration: none;
}

p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .jumbotron{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.glyphicon {
    margin-right: 5px;
}

li.active {
    padding-left: 40px;
}

.external {
    max-width: 30px;
    display: inline-block;
    margin-right: 5px;
}

.well {
    background-image: url("/Portfolio/images/dVision_(31).jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 300px;
    padding-top: 150px;
}