<div class="row">
    <h2 class="col-sm-12">
        <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
        <em>{{project.name}}</em>
    </h2>
</div>
<div class="row">
    <p class="col-sm-12">
        {{project.description}}
    </p>
</div>
<div class="row">
    <div class="col-sm-4">
        <a [href]="project.url">
            <img [src]="imagePath" [alt]="project.name" class="img-responsive" />
        </a>
    </div>
    <div class="col-sm-8">
        <ul class="list-group">
            <li class="list-group-item active">Details</li>
            <li class="list-group-item" *ngFor="let detail of project.details">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                <span [innerHTML]="detail"></span>
            </li>
        </ul>

        <!-- TODO: Should this button and modal window be placed in a better place? -->
        <div *ngIf="project.name === 'Minesweeper'">
            <div class="btn btn-success btn-block" data-toggle="modal" data-target="#minesweeper-rules">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Game rules
            </div>
            <div class="modal fade" id="minesweeper-rules" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Minesweeper game rules</h3>
                        </div>
                        <div class="modal-body">
                            The rules are the same as in the original game:
                            <ol>
                                <li>Uncover a mine, and the game ends.</li>
                                <li>Uncover an empty tile, and you keep playing.</li>
                                <li>Uncover a number, and it tells you how many mines lay hidden in the eight surrounding tiles.
                                    Information you use to deduce which nearby squares are safe to click.
                                </li>
                                <li>Use left mouse click to see what is behind a tile and a right mouse click to mark a place
                                    of possible mine.
                                </li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <a [href]="project.url" class="btn btn-primary">Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>