@media (max-width: 768px) {
    .jumbotron{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.external {
    max-width: 30px;
    display: inline-block;
    margin-right: 5px;
}