<header class="well">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
            <h1>The projects I've made from scratch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-9">
            <p>by Ivo Spasov</p>
        </div>
        <div class="col-sm-3 col-md-2">
                <a href="mailto:ivospasov89@gmail.com">
                    <i class="fa fa-envelope-o fa-fw fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/pub/ivo-spasov/107/929/644">
                    <i class="fa fa-linkedin-square fa-fw fa-2x"></i>
                </a>
                <a href="https://github.com/ivossss">
                    <i class="fa fa-github-square fa-fw fa-2x"></i>
                </a>
        </div>
    </div>
</header>